section{
  position: relative;
}

.section-nav{
display: flex;
flex-direction: row;
justify-content: space-around;
}
.nav-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  z-index: 1000;
}
.nav-container div{
  margin: 12px;
}
.nav-container h3{
  font-size: 14px;

}
.sesion-container, .image-container{
  display: flex;
  align-items: center;
  text-align: center;
  gap: 12px;
  background: transparent;
}

button{
  background: var(--white_-ffffff);
  border: none;
  transition: all .3s ease-in-out;
  cursor: pointer;
  color: var(--gray-700);
  margin: 24px;
}

button:hover{
  scale: 1.05;

}

button a {
  color: var(--gray-700);
}

.header-desembolsos{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 72px;
  left: 0;
  width: 100%;
  height: 88px;
  gap: 776px;
  background: rgba(209,232,255,0.52);
  background: -moz-linear-gradient(top, rgba(209,232,255,0.52) 0%, rgba(255,255,255,0.64) 26%, rgba(255,255,255,0.86) 71%, rgba(255,255,255,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(209,232,255,0.52)), color-stop(26%, rgba(255,255,255,0.64)), color-stop(71%, rgba(255,255,255,0.86)), color-stop(100%, rgba(255,255,255,1)));
  background: -webkit-linear-gradient(top, rgba(209,232,255,0.52) 0%, rgba(255,255,255,0.64) 26%, rgba(255,255,255,0.86) 71%, rgba(255,255,255,1) 100%);
  background: -o-linear-gradient(top, rgba(209,232,255,0.52) 0%, rgba(255,255,255,0.64) 26%, rgba(255,255,255,0.86) 71%, rgba(255,255,255,1) 100%);
  background: -ms-linear-gradient(top, rgba(209,232,255,0.52) 0%, rgba(255,255,255,0.64) 26%, rgba(255,255,255,0.86) 71%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(209,232,255,0.52) 0%, rgba(255,255,255,0.64) 26%, rgba(255,255,255,0.86) 71%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1e8ff', endColorstr='#ffffff', GradientType=0 );
}
.desembolsos-container{
  font-size: 20px;
  font-weight: bold;
  color: var(---413e4d-input-color);

}
.button-download{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 176px;
  height: 48px;
  color: var(--white_-ffffff);
  background: var(--red_1_-dd3542) 0% 0% no-repeat padding-box;
  border-radius: 24px;
  letter-spacing: 0px;
  opacity: 1;
  padding: 14px 24px;
  gap: 12px;
}
.button-download p {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.filters-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 160px;
  left: 0;
  width: 100%;
  height: 88px;
  background-color: var(--gray-400);
}

.filter-select, .number-filter , .filter-date{
  margin: 18px 16px;
  height: 56px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #ABB9C780;
  border-radius: 6px;
  font-size: 16px;
  text-align: left;
  letter-spacing: 0px;
  color: #abb9c7;
  opacity: 1;
}

.filter-select{
  width: 176px;
  height: 56px;

}
/* .filter-select{
  -webkit-appearance: none;
  appearance: none;
  background: url('/assets/img/chevron-down.svg') no-repeat;
  display: block;
} */


.number-filter::placeholder{
  color: var(--azul-plomo);
  padding: 18px 16px;
}
.number-filter{
  width: 272px;
  height: 56px;
}

input[type="date"]::-webkit-calendar-picker-indicator {

  opacity: 1;
  display: block;
  background: url('/assets/img/calendar-month.svg') no-repeat ;
  width: 24px;
  height: 24px;
  margin: 12px;
}
table{
  border-collapse: collapse;
}
.table-wrapper {
  height: 300px; /* Adjust the height as needed */
  overflow-y: auto;
}
.table-container{
  position: fixed;
  top: 248px;
  left: 0;
  width: 100%;
  /* height: 48px; */
  height:  calc(100vh - 248px);
  color: var(--gray_1_-8e8e8e);
  text-align: center;
  overflow: hidden;
}
.data-container{
  overflow-y: auto;
  max-height: calc(100vh - 328px);
  width: 100%;
  white-space: nowrap;
}
table , th, tr, td {
  font-size: 14px;
  height: 48px;
}
.table-headers{
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}
.table-headers th{

  font-weight: bold;
  background-color: var(--blue_3_);
  color: var(---413e4d-input-color);
}

tr:nth-child(odd){
    background-color: var(--gray_4_registros_-f7f7f7);
}

