<section>
    <div class="login-container">

      <img src="/assets/img/Grupo258.svg" class="logo-image"/>
      <h1 class="title-logo">Sufipay</h1>
      <h4 class="text-login">Administrador comercial</h4>

    <div class="form-login">
      <input placeholder="Usuario" type="email"/>
      <input placeholder="Contraseña" type="text"/>
    </div>

    <a href="/stats" class="login-button">INGRESAR</a>

    <a href="">No recuerdo mi contraseña</a>

  </div>

  <img class="image-one" src="/assets/img/Grupo32966.svg"/>
  <img class="image-two" src="/assets/img/Elipse197.svg"/>
  <img class="image-three"  src="/assets/img/Elipse216.svg"/>
  <img class="image-fourth"src="/assets/img/Grupo32967.svg"/>
  <img class="image-five"src="/assets/img/Grupo36052.svg"/>
  <img class="image-six"src="/assets/img/Grupo36075.svg"/>
</section>
